@use "theme/globals" as *;

:host {
    ion-content,
    ion-list {
        --background: var(--core-login-background);
        --ion-item-background: var(--core-login-background);
        --color: #095894;
    }

    ion-item ion-label {
        --color: #095894;

        p, h2, h3 {
            color: #095894;
        }
    }

    ion-button.core-button-as-link {
        --color: var(--core-login-text-color);
        text-decoration-color: var(--color);
    }

    .core-login-reconnect-warning {
        margin: 0px 0px 32px 0px;
    }

    .core-login-info-box {
        margin-bottom: 32px;

        .core-login-site {
            .core-login-site-logo {
                width: 90%;
                max-width: 300px;
                margin: 0px auto;

                img {
                    max-width: 100%;
                    max-height: 104px;
                }
            }

            .site-name {
                font-size: 1.2rem;
                color: #095894;
                margin-bottom: 8px;
            }

            .core-siteurl {
                margin-top: 8px;
                margin-bottom: 0px;
            }
        }

        .core-login-site + .core-login-user {
            margin-top: 24px;
        }
    }

    core-user-avatar.large-avatar {
        --core-avatar-size: var(--core-large-avatar-size);
    }

    .core-login-fullname {
        margin-top: 8px;
        margin-bottom: 0px;
    }

    .core-login-methods {
        form .item,
        form .item ion-label {
            --background: var(--core-login-input-background);
            --color: var(--core-login-input-color);
        }
    }

    ion-button {
        margin-left: 0px;
        margin-right: 0px;
    }

    @if ($core-login-hide-forgot-password) {
        .forgot-password {
            display: none;
        }
    }

    @if ($core-fixed-url) {
        .core-sitename, .core-siteurl {
            display: none;
        }
    }

    @if ($core-login-button-outline) {
        form ion-button {
            --background: white;
            --color: var(--core-login-background);
        }
    }

    @if ($core-login-loading-color) {
        core-loading {
            --loading-background: var(--core-login-background);
            --loading-text-color: #{$core-login-loading-color};
            --loading-spinner: #{$core-login-loading-color};
        }
    }

    .core-login-methods-separator {
        position: relative;
        padding: 8px 0;

        span {
            background: var(--core-login-background);
            padding: 0 8px;
        }

        &::before {
            height: 1px;
            position: absolute;
            top: 50%;
            left: 0px;
            right: 0px;
            border-bottom: 1px solid var(--gray-300);
            content: "";
            z-index: -1;
        }
    }

    @if ($core-login-hide-qrcode) {
        .core-login-site-qrcode,
        .core-login-methods-separator {
            display: none;
        }
    }

    .core-login-login-button {
        margin-top: 32px;
    }

    .core-login-login-inbrowser-button {
        margin-bottom: 8px;
    }

    p.core-login-inbrowser {
        font: var(--mdl-typography-body-font-sm);
        margin-top: 8px;
        margin-bottom: 8px;
    }

    .core-login-sign-up {
        margin-top: 8px;
        border-top: 1px solid var(--gray-300);
    }

    .core-login-identity-providers h2,
    .core-login-sign-up h2 {
        margin-top: 16px;
        margin-bottom: 8px;
        font: var(--mdl-typography-heading6-font);
    }

    .login-content {
        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px;
        color: #095894;

        .logo-container {
            margin-bottom: 40px;
            text-align: center;

            .core-login-site-logo {
                width: 150px;
                margin: 0 auto 20px;

                img {
                    width: 100%;
                    height: auto;
                }
            }
        }
    }

    .login-form-container {
        width: 100%;
        max-width: 400px;

        .custom-input {
            --background: #b0d7ed;
            border-radius: 8px;
            margin-bottom: 16px;

            ion-input {
                --padding-start: 16px;
                --padding-end: 16px;
                --placeholder-color: #5289ff;
                --placeholder-opacity: 1;
                font-size: 16px;
            }
        }

        .password-input-container {
            position: relative;
            --placeholder-color: #5289ff;
            --placeholder-opacity: 1;

            .password-toggle {
                margin: 0;
                --padding-start: 8px;
                --padding-end: 8px;
                --color: #3575ff;
                top: 50%;
                transform: translateY(-50%);
                cursor: pointer;
                position: absolute;
                display: flex; /* Ensure proper alignment */
                align-items: center;
                justify-content: center;
                width: 40px; /* Increase width for larger clickable area */
                height: 40px; /* Increase height for larger clickable area */
                border-radius: 50%; /* Optional circular style */

                ion-icon {
                    font-size: 20px;
                }
            }

            :host-context([dir="rtl"]) & {
                .password-toggle {
                    left: 2px;
                    right: auto;
                }
            }

            :host-context([dir="ltr"]) & {
                .password-toggle {
                    right: 2px;
                    left: auto;
                }
            }
        }


        .login-button {
            --background: #095894   ;
            --border-radius: 10px;
            --padding-top: 15px;
            --padding-bottom: 15px;
            margin: 24px 0;
            font-weight: 500;
        }

        .forgot-password {
            text-align: center;
            margin: 16px 0;

            a {
                color: #f87b72;
                text-decoration: none;
                font-size: 14px;
            }
        }
    }

    .divider {
        text-align: center;
        position: relative;
        margin: 24px 0;

        &::before {
            content: '';
            position: absolute;
            left: 0;
            top: 45%;
            width: 100%;
            height: 1px;
            background: #e0e0e0;
            z-index: 1;
        }

        &::after {
            content: '';
            position: relative;
            display: inline-block;
            z-index: 2;
            background:  url('../../../../resources/Or.png') no-repeat center;
            background-size: contain;
            padding: 0 16px;
            width: 40px;
            height: 40px;
        }
    }

    .scan-qr {
        text-align: center;
        margin-top: 32px;
        h3 {
            color: #095894;
            font-size: 16px;
            margin-bottom: 16px;
            text-decoration: underline;
            display: inline-block;
            padding-bottom: 4px;
        }
    }
}

:host-context(:root.dark) {
    @if ($core-login-button-outline-dark) {
        form ion-button {
            --background: white;
            --color: var(--core-login-background-dark);
        }
    }

    @if ($core-login-loading-color-dark) {
        core-loading {
            --loading-background: var(--core-login-background-dark);
            --loading-text-color: #{$core-login-loading-color-dark};
            --loading-spinner: #{$core-login-loading-color-dark};
        }
    }
}
