:host {
    core-search-box ion-card {
        width: 100% !important;
        margin: 0 !important;
    }

    .core-tag-cloud ion-badge {
        margin: 8px;
        cursor: pointer;
        .size0 {
            font-size: 1.4rem;
        }
    }
}
